<div class="container-fluid about-top pt-5 pb-3">
  <div class="container  mb-5 text-center text-md-left">
    <div class="row">
      <div class="col-12 col-md-6 pt-5">
        <h1>Geliştiriyoruz.</h1>
        <div class="desc">
          Migros Perakende Akademisi olarak hedefimiz; şirketin stratejik hedeflerini hayata geçirecek insan
          kaynağını;
          şirket öncelikleri, kişisel ve sektörel ihtiyaçlar doğrultusunda geliştirmek.
          Sürekli gelişim anlayışını Migros’un kurum kültürü haline getirmek amacıyla; sınıf eğitimleri, saha
          eğitimleri, üniversite işbirlikleri ve e-öğrenme gibi çoklu öğrenme yöntemlerini kullanarak çalışanların
          kişisel ve kariyer gelişimlerine destek oluyoruz!
        </div>

      </div>
      <div class="col-12 col-md-6">
        <div class="about-img"></div>
      </div>

    </div>
  </div>
</div>
<div class="text-center rocket"></div>
<div class="container-fluid about-content">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-8 col-sm-8 row">
        <h4 class="text-center mb-5 col-12 col-md-8 col-sm-8 offset-md-2">
          2010 yılında tüm gelişim faaliyetlerimizi Migros Perakende Akademisi çatısı altındaki 6 fakültede topladık.
        </h4>
        <div class="faculty col-12 mb-5 pt-5 col-md-6">
          <h5>Mağazacılık Meslek Yüksekokulu</h5>
          <p>Mağazalarımızda çalışan personelimizin işe girişten itibaren tüm çalışma dönemleri boyunca almaları gereken
            mesleki eğitimleri kapsar.</p>
        </div>
        <div class="faculty col-12 mb-5 pt-5 text-right col-md-6">
          <h5>Mağazacılık Meslek Yüksekokulu</h5>
          <p>Mağazalarımızda çalışan personelimizin işe girişten itibaren tüm çalışma dönemleri boyunca almaları gereken
            mesleki eğitimleri kapsar.</p>
        </div>
        <div class="faculty col-12 mb-5 pt-5 col-md-6">
          <h5>Mağazacılık Meslek Yüksekokulu</h5>
          <p>Mağazalarımızda çalışan personelimizin işe girişten itibaren tüm çalışma dönemleri boyunca almaları gereken
            mesleki eğitimleri kapsar.</p>
        </div>
        <div class="faculty col-12 mb-5 pt-5 text-right col-md-6">
          <h5>Mağazacılık Meslek Yüksekokulu</h5>
          <p>Mağazalarımızda çalışan personelimizin işe girişten itibaren tüm çalışma dönemleri boyunca almaları gereken
            mesleki eğitimleri kapsar.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid infographic">
  <div class="row full py-3 mb-3">
    <div class="col-12">
      <h3 class="text-center">RAKAMLARLA MPA</h3>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-5 mb-md-5">
        <div class="ribbon"></div>
      </div>
    </div>
    <div class="row  justify-content-center justify-content-md-start">
      <div class="header  mt-5 col-sm-7 col-md-7"><h2 class="text-center">Kişi başı ortalama eğitim süresi<strong class="font-weight-bold"> 20 GÜN</strong></h2>
        <!-- <div class="border my-2 d-md-none"></div> -->
        <div class="people"></div>
      </div>
      <div class="col-sm-5 col-md-5 header mt-5"><h2 class="text-center">Toplam iç eğitmen sayısı <strong  class="font-weight-bold">90</strong> </h2>
         <div class="school"></div>
      </div>
    
    </div>
    
    <div class="row mt-5 align-items-center">
      <div class="col-md-6 col-sm-6 header mt-5"><h1 class="text-center">Eğitim erişim oranı</h1>
         <div class="percent99"></div>
      </div>
      
      <div class="col-md-6 col-sm-6 header mt-5"><h1 h1 class="text-center">İç kaynaklarla geliştirilen eğitim oranı</h1>     
        <div class="percent90"></div>
      </div>
      <div class="col-12">
        <div class="header mt-4 mb-2 text-center">
         <h1> Dijital eğitim sayısı<br>
          <strong>1060</strong></h1>
        </div>
        <div class="diged"></div>
        <div class="text-muted text-center mt-2">
          <div class="oval yellow"></div>
          <span>  Video</span>
          <div class="oval pink ml-2"></div>
          <span>  Etkileşimli içerik</span>
        </div>
      </div>
    </div>
  </div>
</div>
