<div class="container programs mb-5 mt-3">
  <div class="row res-header mb-5">
    <div class="col-md-6 text-center text-md-left align-self-center">
      <h1 class="col-12">DİJİTAL KAYNAKLARIMIZ</h1>
      <div class="desc col-12">
        Migros Perakende Akademisi olarak hedefimiz; şirketin stratejik hedeflerini hayata geçirecek insan kaynağını;
        <br> şirket öncelikleri, kişisel ve sektörel ihtiyaçlar <br>doğrultusunda geliştirmek.
        <br><br>
        Sürekli gelişim anlayışını Migros’un kurum kültürü <br>haline getirmek amacıyla; sınıf eğitimleri, saha
        eğitimleri, <br>üniversite işbirlikleri ve e-öğrenme gibi çoklu öğrenme <br>yöntemlerini kullanarak çalışanların
        kişisel <br>ve kariyer gelişimlerine destek oluyoruz!
      </div>
    </div>
    <div class="col-md-6">
      <div class="programs-img"></div>
    </div>
  </div>
</div>
<div class="container-fluid mt-9">
  <div class="container mt-9">
    <div class="row  justify-content-center">
       <div class="col-md-6 ">
        <div class="slider center">
          <div class="slide nomobile">
            <div class="item text-center p-1 p-md-5" >
              <div class="logo">
                <img class="rounded mx-auto d-block col-md-12" src="../../assets/img/georgia.png" alt="">
              </div>
              <h3>Georgia State University</h3>
              <div class="first-program text-muted">
                İlk program: 2011
              </div>
              <p>Lorem Ipsum has been the industry’s standard dummy text
                Lorem Ipsum has been the industry’s standard dummy text
              </p>
              <!--<p class="read-more"><a href="#" class="button">Read More</a></p>-->

            </div>
          </div>
         
          <div class="slide nomobile">
            <div class="item text-center p-1 p-md-5">
              <div class="logo">
                <img class="rounded mx-auto d-block col-md-12" src="../../assets/img/georgia.png" alt="">
              </div>
              <h3>Georgia State University</h3>
              <div class="first-program text-muted">
                İlk program: 2011
              </div>
              <p>Lorem Ipsum has been the industry’s standard dummy text
                Lorem Ipsum has been the industry’s standard dummy text
              </p>
              <!--<p class="read-more"><a href="#" class="button">Read More</a></p>-->

            </div>
          </div>
          <div class="slide nomobile">
            <div class="item text-center p-1 p-md-5">
              <div class="logo">
                <img class="rounded mx-auto d-block col-md-12" src="../../assets/img/georgia.png" alt="">
              </div>
              <h3>Georgia State University</h3>
              <div class="first-program text-muted">
                İlk program: 2011
              </div>
              <p>Lorem Ipsum has been the industry’s standard dummy text
                Lorem Ipsum has been the industry’s standard dummy text
              </p>
              <!--<p class="read-more"><a href="#" class="button">Read More</a></p>-->

            </div>
          </div>
           

        </div>
      </div>
 
    </div>
  </div>
</div>
