.login {
    .login-img {
      background-image: url('../../assets/img/login-img.svg');
      height: 400px;
      background-size: 100% 100%;
    }
  h1 {
    font-family:'Open Sans', sans-serif;
    color:#294859;
    font-weight: 300;
  }
  p {
    color:#4A4A4A;
  }
}
