<div class="container home">
  <div class="row res-header mb-5 mt-5">
    <div class="col-md-5 text-center text-md-left align-self-center">
      <h1>şirketten haberler</h1>
      <div class=" ">
        <p> </p>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7 justify-content-center">
      <div class="hero-bg">
        <!-- <img class="hero" src="assets/img/home/hero_home_mb.svg" alt=""> -->
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card mat-elevation-z8">
        <img src="assets/img/home/card1.png" alt="">
        <p class="card-title">Lorem ipsum</p>
        <p class="card-content">Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet. </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mat-elevation-z8">
        <img src="assets/img/home/card1.png" alt="">
        <p class="card-title">Lorem ipsum</p>
        <p class="card-content">Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mat-elevation-z8">
        <img src="assets/img/home/card1.png" alt="">
        <p class="card-title">Lorem ipsum</p>
        <p class="card-content">Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet. </p>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <a href="/" class="justify-content-right btn-lgn mr-3 btn-primary d-none d-md-block col-md-2 text-center button-two">
      <span>Geri</span>
    </a>
    
   </div>
</div>