<div class="container awards">
  <div class="row res-header mb-5">
    <div class="col-md-6 text-center text-md-left align-self-center">
      <h1 class="col-12">DİJİTAL KAYNAKLARIMIZ</h1>
      <div class="desc col-12">
        Migros Perakende Akademisi olarak hedefimiz; şirketin stratejik hedeflerini hayata geçirecek insan kaynağını;
        <br> şirket öncelikleri, kişisel ve sektörel ihtiyaçlar <br>doğrultusunda geliştirmek.
        <br><br>
        Sürekli gelişim anlayışını Migros’un kurum kültürü <br>haline getirmek amacıyla; sınıf eğitimleri, saha
        eğitimleri, <br>üniversite işbirlikleri ve e-öğrenme gibi çoklu öğrenme <br>yöntemlerini kullanarak çalışanların
        kişisel <br>ve kariyer gelişimlerine destek oluyoruz!
      </div>
    </div>
    <div class="col-md-6">
      <div class="awards-img"></div>
    </div>
  </div>
</div>
<div class="container-fluid mb-5">
  <div class="white-shadow"></div>
  <div class="white-shadow-right"></div>
  <div class="row ">
    <!--Timeline carousel-->


    <ul class="timeline-carousel col-12">

      <li class="">
        <div class="logo">
          <img src="../../assets/img/corpu_logo.png" alt="">
        </div>
        <div class="bubble bubble-short">
          <hr>
          <div class="year font-weight-bold" style="top: 46px;">2012</div>
        </div>
        <p class="text-center">Öğrenmede Mükemmellik ve Yaratıcılık Ödülü</p>
      </li>
      <li class="long">
        <div class="logo">
          <img src="../../assets/img/corpu_logo.png" alt="">
        </div>
        <div class="bubble bubble-long">
          <hr>
          <div class="year font-weight-bold yearpp" >2012</div>
        </div>
        <p class="text-center">Öğrenmede Mükemmellik ve Yaratıcılık Ödülü</p>
      </li>
      <li class="">
        <div class="logo">
          <img src="../../assets/img/corpu_logo.png" alt="">
        </div>
        <div class="bubble bubble-short">
          <hr>
          <div class="year font-weight-bold"  style="top: 46px;">2012</div>
        </div>
        <p class="text-center">Öğrenmede Mükemmellik ve Yaratıcılık Ödülü</p>
      </li>
      <li class="long">
        <div class="logo">
          <img src="../../assets/img/corpu_logo.png" alt="">
        </div>
        <div class="bubble bubble-long">
          <hr>
          <div class="year font-weight-bold yearpp" >2012</div>
        </div>
        <p class="text-center">Öğrenmede Mükemmellik ve Yaratıcılık Ödülü</p>
      </li>
      <li class="">
        <div class="logo">
          <img src="../../assets/img/corpu_logo.png" alt="">
        </div>
        <div class="bubble bubble-short">
          <hr>
          <div class="year font-weight-bold"  style="top: 46px;">2012</div>
        </div>
        <p class="text-center">Öğrenmede Mükemmellik ve Yaratıcılık Ödülü</p>
      </li>
      <li class="long">
        <div class="logo">
          <img src="../../assets/img/corpu_logo.png" alt="">
        </div>
        <div class="bubble bubble-long">
          <hr>
          <div class="year font-weight-bold yearpp"  >2012</div>
        </div>
        <p class="text-center">Öğrenmede Mükemmellik ve Yaratıcılık Ödülü</p>
      </li>

    </ul>
  </div>
</div>
