<div class="container home">
  <div class="row res-header mb-5">
    <div class="col-md-4 col-sm-4 text-center text-md-left align-self-center justify-content-center">
      <h1 >Migros</h1>
      <h4>Parenkende AKademisi</h4>
      <div class=" ">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      industry’s.</p>
      </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-7 col-sm-7 justify-content-center">
       <div class="hero-bg">
        <img class="hero" src="assets/img/home/hero_home_mb.svg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="container">

  <section class="image-section">
    <div class="row title-tabs">
      <a href="#">tüm konular</a>
      <a href="haber">şirkettenhaberler</a>
      <a href="#">trendkonular</a>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="card mat-elevation-z8">
          <img src="assets/img/home/card1.png" alt="">
          <span class="badge badge-warning">Şirketten haberler</span>
          <p class="card-title">Lorem ipsum</p>
          <p class="card-content">Lorem ipsum dolor sit amet<img class="arrow-btn" src="assets/img/home/arrow.svg" alt=""></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="card mat-elevation-z8">
          <img src="assets/img/home/card1.png" alt="">
          <span class="badge badge-danger">Trend Konular</span>
          <p class="card-title">Lorem ipsum</p>
          <p class="card-content">Lorem ipsum dolor sit amet<img class="arrow-btn" src="assets/img/home/arrow.svg" alt=""></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="card mat-elevation-z8">
          <img src="assets/img/home/card1.png" alt="">
          <span class="badge badge-danger">Trend Konular</span>
          <p class="card-title">Lorem ipsum</p>
          <p class="card-content">Lorem ipsum dolor sit amet<img class="arrow-btn" src="assets/img/home/arrow.svg" alt=""></p>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mat-elevation-z8">
          <img src="assets/img/home/card1.png" alt="">
          <span class="badge badge-danger">Trend Konular</span>
          <p class="card-title" style="font-size:24px">Lorem ipsum</p>
          <p class="card-content">Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            lorem ipsum dolor sit amet.
            <img class="arrow-btn" src="assets/img/home/arrow.svg" style="margin:20px" alt="">
          </p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="big-card mat-elevation-z8">
          <img class="card-bg" src="assets/img/home/card2.png" alt="">
          <span class="badge badge-warning">Şirketten haberler</span>
          <div class="text-content">
            <div class="row">
              <p class="card-title">Lorem ipsum</p>
              <p class="card-content">Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.
              </p>
              <img class="arrow-btn" src="assets/img/home/arrow-white.svg" style="margin:20px" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="programlarimiz">
    <img class="program-bg" src="assets/img/home/Oval.svg" alt="">
    <div class="wrapper">
      <h1>PROGRAMLARIMIZ</h1>
 

      <div class="carousel   col-md-8">
        <div class="slider center">
          <div class="caro-item slide">
            <div class="card mat-elevation-z8 ">
              <div class="item p-1 p-md-5">
                <img src="assets/img/home/macroup.png" alt="">
                <div class="card-title">
                  Macro-Up
                </div>
                <div class="card-content">
                Macrocenter çalışanlarımıza özel olarak hazırlanan ve daha sonra ilgili diğer<p class="longtxt"> birimlerimize de uyarlanan
                  bu
                  programla katılımcılarımızın kişisel imaj ve sosyal etiket gibi alanlarda daha donanımlı
                  hale gelmeleri amaçlanmıştır.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="caro-item slide">
            <div class="card mat-elevation-z8">
              <div class="item p-1 p-md-5">
                <img src="assets/img/home/macroup.png" alt="">
               <div class="card-title">
                  Macro-Up
                </div>
                <div class="card-content">
                Macrocenter çalışanlarımıza özel olarak hazırlanan ve daha sonra ilgili diğer<p class="longtxt"> birimlerimize de uyarlanan
                  bu
                  programla katılımcılarımızın kişisel imaj ve sosyal etiket gibi alanlarda daha donanımlı
                  hale gelmeleri amaçlanmıştır.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="caro-item slide  ">
            <div class="card mat-elevation-z8 ">
              <div class="item p-1 p-md-5">
                <img src="assets/img/home/macroup.png" alt="">
               <div class="card-title">
                  Macro-Up
                </div>
                <div class="card-content">
                Macrocenter çalışanlarımıza özel olarak hazırlanan ve daha sonra ilgili diğer<p class="longtxt"> birimlerimize de uyarlanan
                  bu
                  programla katılımcılarımızın kişisel imaj ve sosyal etiket gibi alanlarda daha donanımlı
                  hale gelmeleri amaçlanmıştır.</p>
                </div>
              </div>
            </div>
          </div>
         </div>
      </div>
    </div>
  </section>

  <section class="dijital">
    <h1 class="title">DİJİTAL KAYNAKLARIMIZ</h1>
    <div class="row">
      <div class="col-md-4">
        <img src="assets/img/home/migro.svg" alt="">
      </div>
      <div class="col-md-4">
        <img src="assets/img/home/maya.svg" alt="">
      </div>
      <div class="col-md-4">
        <img src="assets/img/home/qg.svg" alt="">
      </div>
    </div>
    <a href="#">Uygulamalarımıza göz atın →</a>
  </section>

</div>

<div class="mobile-view">
  <section class="hero-mobile">
    <div class="hero-title">
      <h2>Migros</h2>
      <h4>Parenkende AKademisi</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry’s.</p>
    </div>
    <button mat-flat-button color="primary">Eğitimlere giriş yap</button>
    <div class="hero-bg">
      <img src="assets/img/home/hero_home_mb.svg" alt="">
    </div>
  </section>
  <section class="image-section-mb">
    <div class="row">
      <div class="col-4"><a href="#">#tüm konular</a></div>
      <div class="col-4"><a href="#">#şirkettenhaberler</a></div>
      <div class="col-4"><a href="#">#trendkonular</a></div>
    </div>
    <div class="row">
      <div class="big-card mat-elevation-z8">
        <img class="card-bg" src="assets/img/home/card2.png" alt="">

        <div class="text-content">
          <div class="row">
            <p class="card-content">Lorem ipsum dolor sit amet</p>
            <p class="card-bottom">Haberi</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="programlarimiz">
    <img class="program-bg" src="assets/img/home/Oval.svg" alt="">
    <div class="row">
      <h2>PROGRAMLARIMIZ</h2>
       <div class="carousel col-md-8">
        <div class="slider center">
          <div class="caro-item slide">
            <div class="card mat-elevation-z8 ">
              <div class="item p-1 p-md-5">
                <img src="assets/img/home/macroup.png" alt="">
                <p class="card-title">
                  Macro-Up
                </p>
                <p class="card-content">
                  Macrocenter çalışanlarımıza özel olarak hazırlanan ve daha sonra ilgili diğer birimlerimize de uyarlanan
                  bu
                  <!-- programla katılımcılarımızın kişisel imaj ve sosyal etiket gibi alanlarda daha donanımlı
                  hale gelmeleri amaçlanmıştır. -->
                </p>
              </div>
            </div>
          </div>
          <div class="caro-item slide">
            <div class="card mat-elevation-z8">
              <div class="item p-1 p-md-5">
                <img src="assets/img/home/macroup.png" alt="">
                <p class="card-title">
                  Macro-Up
                </p>
                <p class="card-content">
                  Macrocenter çalışanlarımıza özel olarak hazırlanan ve daha sonra ilgili diğer birimlerimize de uyarlanan
                  bu
                  <!-- programla katılımcılarımızın kişisel imaj ve sosyal etiket gibi alanlarda daha donanımlı
                  hale gelmeleri amaçlanmıştır. -->
                </p>
              </div>
            </div>
          </div>
          <div class="caro-item slide  ">
            <div class="card mat-elevation-z8 ">
              <div class="item p-1 p-md-5">
                <img src="assets/img/home/macroup.png" alt="">
                <p class="card-title">
                  Macro-Up
                </p>
                <p class="card-content">
                  Macrocenter çalışanlarımıza özel olarak hazırlanan ve daha sonra ilgili diğer birimlerimize de uyarlanan
                  bu
                  <!-- programla katılımcılarımızın kişisel imaj ve sosyal etiket gibi alanlarda daha donanımlı
                  hale gelmeleri amaçlanmıştır. -->
                </p>
              </div>
            </div>
          </div>
         </div>
      </div>
    </div>
  </section>

  <section class="digital-mb">
    <h2>DİJİTAL KAYNAKLARIMIZ</h2>
    <img class="bg" src="assets/img/home/phone_deco.svg" alt="">
    <div class="row">
      <div class="col-6">
        <img src="assets/img/home/migro.svg" alt="">
      </div>
      <div class="col-6">
        <p>Migros Sosyal
          Mobil Uygulaması</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p>Migros Sosyal
          Mobil Uygulaması</p>
      </div>
      <div class="col-6">
        <img src="assets/img/home/maya.svg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <img src="assets/img/home/qg.svg" alt="">
      </div>
      <div class="col-6">
        <p>Migros Sosyal
          Mobil Uygulaması</p>
      </div>
    </div>
  </section>
</div>
